/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
h2, h1{
  filter: drop-shadow(5px 8px 8px rgb(96, 96, 96));
}
body{
  background-image: url('../public/background.jpg');
  opacity: 0.9;
}
.table-group{
  border: 1px solid #ccc;
  /* margin: 10px; */
  border-collapse: collapse;
  box-shadow: 5px 5px 12px 3px gray;
  
}
td, th{
  padding: 5px;
  /* margin: 10px; */
  /* border: 1px solid #ccc !important; */
}
.group{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 5px 5px 12px 2px gray;
  padding: 5px;
  border-radius: 10px;
}
.group input{
  
  width: 80%;
  margin-right: 5px;
  padding: 6px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 8px;
}
